@using Pcm.Infrastructure.ResponseModels
<MudAutocomplete T="PersonResponse" Value="@Value" ValueChanged="@(newPerson => OnValueChanged(newPerson))"
                 Label="@Localization.person"
                 SearchFunc="@SearchPersonAutocomplete" ResetValueOnEmptyText="true"
                 Required="Required">
    <ItemTemplate>
        <div class="itemTemplate">
            <div class="itemContainerText">
                <MudText Typo="Typo.body1">@context.ToString()</MudText>
                <MudText Typo="Typo.body2">@context.TrainingType - @context.TrainingName</MudText>
            </div>
        </div>
    </ItemTemplate>
</MudAutocomplete>