@using Pcm.Infrastructure.ResponseModels
<MudAutocomplete T="TrainingResponse" Value="Value" ValueChanged="@(OnValueChanged)"
                 Label="@Localization.training"
                 SearchFunc="@SearchTrainingAutocomplete" ResetValueOnEmptyText="true"
                 Required="Required">
    <ItemTemplate>
        <div class="itemTemplate">
            <div class="itemContainerText">
                <MudText Typo="Typo.body1">@context.Name</MudText>
                <MudText Typo="Typo.body2">@context.Type</MudText>
            </div>
        </div>
    </ItemTemplate>
</MudAutocomplete>