@using Pcm.Core.Entities
<MudAutocomplete T="IArticleType" Value="@Value" ValueChanged="@(async (x) => await OnValueChanged(x))" 
                 @ref="_articleTypeAutocomplete"
                 Label="@Localization.type" 
                 SearchFunc="SearchArticleTypeNameAutocomplete">
    <ItemTemplate>
        <div class="itemTemplate">
            <div class="itemContainerText">
                <MudText Typo="Typo.body1">@context.Name</MudText>
                <MudText Typo="Typo.body2">@context.Manufacturer</MudText>
            </div>
        </div>
    </ItemTemplate>
    <NoItemsTemplate>
        <div Class="mud-list-item-gutters">
            <MudAutocomplete T="string" @bind-Value="_manufacturer" Label="@Localization.manufacturer" Required="true" FullWidth="true" SearchFunc="SearchManufacturerAutocomplete"/>
            <div class="d-flex mud-list-item">
                <MudText Class="overflow-hidden  breakOnOverflow">@String.Format(Localization.createNewTQuestionWithName, Localization.articleType, _articleTypeAutocomplete.Text)<wbr></MudText>
                <MudSpacer/>
                <MudButton Style="margin-right: 0.5vw" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">@Localization.yes</MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small">@Localization.no</MudButton>
            </div>
        </div>
    </NoItemsTemplate>
</MudAutocomplete>