@using Pcm.WebUi.Models
<MudTable Items="_persons" Hover="true" SortLabel="Sort By"
          Filter="new Func<Person, bool>(PersonFilter)">
    <ToolBarContent>
        <MudText Color="Color.Primary" Typo="Typo.h6">@Localization.persons</MudText>
        <MudSpacer/>
        <MudTextField T="string" Placeholder="@Localization.search"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" @bind-Value="_searchString"/>
        <MudIconButton Icon="@Icons.Filled.AddBox" @onclick="ToggleNewPersonPopover"/>
        @if (_newPersonPopOverIsOpen)
        {
            <MudPopover Open="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                <div style="margin: 1em;">
                    <NewPerson/>
                </div>
            </MudPopover>
            <MudOverlay Visible="true" OnClick="ToggleNewPersonPopover" DarkBackground="true"/>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Person, object>(x => x.Id)">@Localization.personnelNumber</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Person, object>(x => x.FirstName)">@Localization.firstName</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Person, object>(x => x.LastName)">@Localization.LastName</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Person, object>(x => x.Apprenticeship.Name)">@Localization.apprenticeship</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Person, object>(x => x.EmailAddress)">@Localization.emailAddress</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@Localization.personnelNumber">@context.Id</MudTd>
        <MudTd DataLabel="@Localization.firstName">@context.FirstName</MudTd>
        <MudTd DataLabel="@Localization.LastName">@context.LastName</MudTd>
        <MudTd DataLabel="@Localization.apprenticeship">@context.Apprenticeship.Name</MudTd>
        <MudTd DataLabel="@Localization.emailAddress">@context.EmailAddress</MudTd>
    </RowTemplate>
</MudTable>