@using System.ComponentModel.DataAnnotations
@using PcmFrontendWebUi.Models
<MudGrid>
    <MudItem xs="4">
        <MudAutocomplete T="string" @bind-Value="_personName" Label="@Localization.person" SearchFunc="@SearchPersonAutocomplete"/>
    </MudItem>
    <MudItem xs="4">
        <MudAutocomplete T="string" @bind-Value="_articleCategoryName" Label="@Localization.category" SearchFunc="@SearchArticleCategoryAutocomplete"/>
    </MudItem>
    <MudItem xs="4">
        <MudAutocomplete T="ArticleType" @bind-Value="_articleType" Label="@Localization.type" SearchFunc="@SearchArticleTypeNameAutocomplete">
            <ItemTemplate>
                <div>
                    <div style="display: inline-block">
                        <MudText Typo="Typo.body1">@context.Name</MudText>
                        <MudText Typo="Typo.body2">@context.Manufacturer</MudText>
                    </div>
                    <MudIcon Icon="@Icons.Filled.Edit" Size="Size.Small" style="display: inline-block"/>
                </div>
            </ItemTemplate>
        </MudAutocomplete>
    </MudItem>
    <MudItem xs="4">
        <MudAutocomplete T="string" @bind-Value="_style" Label="@Localization.style" SearchFunc="@SearchStyleAutocomplete"/>
    </MudItem>
    
    <MudItem xs="12" Style="text-align: right;">
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Style="margin-right: 1vw">@Localization.cancel</MudButton>
        <MudButton Disabled="@_processing" OnClick="SaveNewArticle" Variant="Variant.Filled" Color="Color.Primary">
            @if (_processing)
            {
                <MudProgressCircular Size="Size.Small" Indeterminate="true"/>
                <MudText>@Localization.saving</MudText>
            }
            else
            {
                <MudText>@Localization.save</MudText>
            }
        </MudButton>
    </MudItem>
</MudGrid>