@using Pcm.Infrastructure.Entities


<MudTable T="Apprenticeship" Items="_apprenticeships" Hover="true" SortLabel="Sort By"
          Filter="new Func<Apprenticeship, bool>(ApprenticeshipFilter)"
          OnRowClick="OnRowClick">
    <ToolBarContent>
        <MudText Color="Color.Primary" Typo="Typo.h6">@Localization.apprenticeships</MudText>
        <MudSpacer/>
        <MudTextField T="string" Placeholder="@Localization.search"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" @bind-Value="_searchString"/>
        <MudIconButton Icon="@Icons.Filled.AddBox" @onclick="ToggleNewApprenticeshipPopover"/>
        <MudOverlay Visible="_newApprenticeshipPopOverIsOpen" OnClick="ToggleNewApprenticeshipPopover" DarkBackground="true"/>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Apprenticeship, object>(x => x.Name)">@Localization.apprenticeship</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Apprenticeship, object>(x => x.Type)">@Localization.type</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Apprenticeship, object>(x => x.Apprentices.Count())">@Localization.apprentices</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@Localization.name">@context.Name</MudTd>
        <MudTd DataLabel="@Localization.type">@context.Type</MudTd>
        <MudTd DataLabel="@Localization.apprentices">@context.Apprentices.Count()</MudTd>
    </RowTemplate>
</MudTable>

<MudPopover Open="_newApprenticeshipPopOverIsOpen" RelativeWidth="true">
    <div style="margin: 1em; width: 50%;">
    </div>
</MudPopover>

<MudPopover Open="_detailPopupIsOpen" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.TopCenter" Paper="false">
    <MudPaper Outlined="true" Class="px-4 py-8">
        <ApprenticeshipDetails Apprenticeship="_selectedApprenticeship"/>
        <h2>RTFM</h2>
    </MudPaper>
</MudPopover>


